.delete-button{
  font-family: "Poppins", sans-serif;
  color:white;
  background-color: rebeccapurple;
}

.exit-button{
  font-family: "Poppins", sans-serif;
  color:white;
  background-color: #31B4E5;
}
