<div style="margin-top: 66px">

  <mat-grid-list cols="8" rowHeight="2:1" >
    <mat-grid-tile [colspan]="3">
      <div style="display:inline;" >
        <div style="float: right; width: 100%;">
          <label style="font-size: 1.2vw; margin-left: 5px" >Pronadjite dostupne instruktore:</label>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" style="margin-top: 10px" >
      <div style="width: 100%; display: flex">
        <input type="datetime-local" name="startDate" [(ngModel)]="dateStartString" style="width: 27%" placeholder="Unesite datum i vreme pocetka" required>
        <input type="number" name="duration" [(ngModel)]= "hourNumber"  [min]="1" [step] =1 style="width: 27%" placeholder="Unesite broj dana">
        <input type="number" name="duration" [(ngModel)]= "maxGuest"  [min]="1" [step] =1 style="width: 27%" placeholder="Unesite broj gostiju">
        <button (click)="searchInstructors()">
          <mat-icon >search</mat-icon>
        </button>
        <button (click)="restartAll()"> <mat-icon >restart_alt</mat-icon></button>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>

    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="3" >
      <div class="d-flex flex-row mt-5">
        <div class="d-flex flex-column ms-3 filter-sort-container">
          <span class="basic-title text-center">Sortiraj prema:</span>
          <div class="form-check">
            <div class="form-check">
              <label> Ime instruktora </label>
              <mat-radio-group aria-label="Select an option" [(ngModel)]="instructorName" (change)="changeSortName()" style="margin-left: 7px;">
                <mat-radio-button [value]="1">A-Z</mat-radio-button>
                <mat-radio-button [value]="2" style="margin-left: 5px">Z-A</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="form-check">
              <label> Prezime instruktora </label>
              <mat-radio-group aria-label="Select an option" [(ngModel)]="instructorSurname" (change)="changeSortLastName()" style="margin-left: 7px;">
                <mat-radio-button [value]="1">A-Z</mat-radio-button>
                <mat-radio-button [value]="2" style="margin-left: 5px">Z-A</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="form-check">
              <label> Ocena instruktora </label>
              <mat-radio-group aria-label="Select an option" [(ngModel)]="instructorGrade" (change)="changeSortGrade()" style="margin-left: 7px;">
                <mat-radio-button [value]="1"><mat-icon>
                  arrow_upward</mat-icon></mat-radio-button>
                <mat-radio-button [value]="2" style="margin-left: 5px"><mat-icon>
                  arrow_downward</mat-icon></mat-radio-button>
              </mat-radio-group>
            </div>
            <br>
            <br>
          </div>
        </div>
      </div>
    </mat-grid-tile>


    <mat-grid-tile [rowspan]="6" [colspan]="4" style="margin-top: 0;"  class="script-menu" >
      <div>
        <table id="table" mat-table [dataSource]="instructors" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="Ime">
            <th mat-header-cell *matHeaderCellDef> Ime </th>
            <td mat-cell *matCellDef="let element"> {{ element.firstName}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Prezime">
            <th mat-header-cell *matHeaderCellDef> Prezime</th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
          </ng-container>

          <ng-container matColumnDef="Adresa">
            <th mat-header-cell *matHeaderCellDef> Adresa </th>
            <td mat-cell *matCellDef="let element"> {{element.addressDTO.city + " " + element.addressDTO.state }} </td>
          </ng-container>

          <ng-container matColumnDef="Ocena">
            <th mat-header-cell *matHeaderCellDef> Ocena </th>
            <td mat-cell *matCellDef="let element"> <mat-label style="color: red" *ngIf="element.grade == 0"> Bez ocene </mat-label> <mat-label style="color: orange" *ngIf="element.grade > 0">{{element.grade}}</mat-label> </td>

          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="avanture">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let element"> <button (click)="viewProfile(element.id)" mat-raised-button color="primary"> Pregledaj avanture</button> </td>
          </ng-container>




          <!-- Symbol Column -->

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

    </mat-grid-tile>

    <mat-grid-tile [colspan]="3" [rowspan]="4" style="margin-bottom: 50px"  >
      <div class="d-flex flex-row mt-5">
        <div class="d-flex flex-column ms-3 filter-sort-container">
          <span class="basic-title text-center">Filtriraj po oceni</span>
          <mat-radio-group  [(ngModel)]="instructorFilterGrade" >
            <div class="form-check">
              <label> <mat-icon style="color: orange;">star</mat-icon><mat-icon style="color: orange;">star</mat-icon><mat-icon style="color: orange;">star</mat-icon><mat-icon style="color: orange;">star</mat-icon>
                <mat-icon style="color: orange;">star</mat-icon></label>
              <mat-radio-button [value]="5" style="margin-left: 20px"></mat-radio-button>
            </div>
            <div class="form-check">
              <label> <mat-icon style="color: orange;">star</mat-icon><mat-icon style="color: orange;">star</mat-icon><mat-icon style="color: orange;">star</mat-icon><mat-icon style="color: orange;">star</mat-icon>
              </label>
              <mat-radio-button [value]="4" style="margin-left: 20px"></mat-radio-button>
            </div>
            <div class="form-check">
              <label> <mat-icon style="color: orange;">star</mat-icon><mat-icon style="color: orange;">star</mat-icon><mat-icon style="color: orange;">star</mat-icon>
              </label>
              <mat-radio-button [value]="3" style="margin-left: 20px"></mat-radio-button>
            </div>
            <div class="form-check">
              <label><mat-icon style="color: orange;">star</mat-icon><mat-icon style="color: orange;">star</mat-icon>
              </label>
              <mat-radio-button [value]="2" style="margin-left: 20px"></mat-radio-button>
            </div>
            <div class="form-check">
              <label><mat-icon style="color: orange;">star</mat-icon>
              </label>
              <mat-radio-button [value]="1" style="margin-left: 20px"></mat-radio-button>
            </div>
            <div class="form-check">
              <label>Prikazi sve
              </label>
              <mat-radio-button [value]="0" style="margin-left: 20px"></mat-radio-button>
            </div>
          </mat-radio-group>
          <button style="width: 50%;position: relative; margin: auto" (click)="filterGrade()"> Filter </button>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>

    </mat-grid-tile>
    <mat-grid-tile>

    </mat-grid-tile>
    <mat-grid-tile>

    </mat-grid-tile>
    <mat-grid-tile>

    </mat-grid-tile>
    <mat-grid-tile>

    </mat-grid-tile>
    <mat-grid-tile>

    </mat-grid-tile>
    <mat-grid-tile>

    </mat-grid-tile>
    <mat-grid-tile>

    </mat-grid-tile>
    <mat-grid-tile>

    </mat-grid-tile>
  </mat-grid-list>


  <ngx-alerts></ngx-alerts>
</div>





