<div id="boat-profile">
  <app-header> </app-header>
  <div [style.height]="500">
    <mat-carousel *ngIf="isLoaded"
      timings="250ms ease-in" [autoplay]=true [interval] = "5000" color="accent" maxWidth="auto" [proportion]= "40" [slides] = "images.length"
      [loop]=true [hideArrows]="false" [hideIndicators]="true" [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">
      <mat-carousel-slide
        #matCarouselSlide
        *ngFor="let sl of images;"
        [image]=sl.imageUrl
        overlayColor="#00000040"
        [hideOverlay]="false">
      </mat-carousel-slide>
    </mat-carousel>
    <button mat-raised-button (click)="addImage.click()" class="btn add-picture-button">Dodaj sliku</button>
    <input type="file" accept="image/*" style="display:none;border:none;" (change)="addImageToBoat($event)" #addImage/>

    <button mat-raised-button (click)="modifyProfile()" class="btn modify-profile-button">Izmeni profil</button>

    <div class="boat-container boat-view-title-container">

      <!-- naziv broda -->
      <div class="d-flex left align-items-center" style="margin-left: 10px">
        <span class="house-name display-6" style="margin-left: 10px">
          {{boat.name}}
        </span>
      </div>
      <!-- adresa broda -->
      <div class="d-flex left align-items-center" style="margin-left: 10px">
        <a class="house-address ms-3 mt-3" (click)="showMap()">{{boat.address.street}}, {{boat.address.city}}, {{boat.address.state}}</a>
        <br>
      </div>

      <!-- informacije, promo opis i opis broda, predstavljamo kao 3 kolone -->
      <div class="d-flex flex-row mt-5">
        <!-- Informacije -->
        <div class="d-flex flex-column ms-3 filter-sort-container">
          <span class="basic-title text-center">Informacije</span>
          <div class="form-check last-form-check">
            <label class="form-check-label wrap">
              Pravila ponasanja: <br> {{boat.behaviourRules}}
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label wrap">
              <br> Cena za 1 dan: {{boat.pricePerDay}} din
            </label>
          </div>
          <div class="form-check last-form-check">
            <label class="form-check-label wrap">
              <br> Dodatne usluge: <br>
              <li *ngFor="let service of additionalServices">
                {{service.name}} : {{service.price}} din <br>
              </li>
              <br>
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label wrap">
              Besplatno otkazivanje: {{boat.isCancalletionFree}}
              <br> Uslovi otkazivanja: {{boat.cancalletionFee}} din
            </label>
          </div>
        </div>

        <!-- promo opis -->
        <div class="boat-promo-desc d-flex ms-5 flex-column">
          {{ boat.promoDescription }}
        </div>

        <!-- O BRODU -->
        <div class="d-flex flex-row">
          <div class="d-flex flex-column ms-3 filter-sort-container1">
            <span class="basic-title text-center">O BRODU</span>
            <div class="form-check">
              <label class="form-check-label wrap">
                Tip: {{boat.type}}
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label wrap">
                Duzina: {{boat.length}}m
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label wrap">
                Broj motora: {{boat.engineNumber}}
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label wrap">
                Snaga motora: {{boat.enginePower}}
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label wrap">
                Makismalna brzina: {{boat.maxSpeed}}km/h
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label wrap">
                Kapacitet: {{boat.capacity}} osoba
              </label>
            </div>
          </div>
        </div>
      </div>

      <!-- LOKACIJA PRIMER 1  -->
      <div>
        <div>
          <br> <label style="font-size: 30px; font-weight: 500; margin-left: 30px" >Lokacija:</label>
        </div>
        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
      <br>

      <!-- LOKACIJA PRIMER 2 - NISU ISKORISTENI DINAMICKI PODACI ! -->
      <section class="section pb-5">
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-5 mb-4" style="height: 400px">
            <div class="card">
              <div class="card-body">
                <div class="form-header blue accent-1">
                  <h3><i class="fas fa-envelope"></i> Lokacija:</h3>
                </div>
                <p> {{boat.address.street}}, {{boat.address.city}}, {{boat.address.state}} </p>
                <br>
              </div>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-7">
            <!--Google map-->
            <div id="map-container-google-11" class="z-depth-1-half map-container-6" style="height: 400px">
              <iframe src="https://maps.google.com/maps?q=new%20delphi&t=&z=13&ie=UTF8&iwloc=&output=embed"
                      frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
          <!--Grid column-->
        </div>
      </section>
      <!-- LOKACIJA PRIMER 2 - KRAJ-->


      <!-- AKCIJE  -->
      <div>
        <div>
          <br> <label style="font-size: 30px; font-weight: 500; margin-left: 30px" >Akcije:</label>
        </div>
        <div class="myMatCarousel2">
          <mat-carousel *ngIf="isSlideLoaded" timings="250ms ease-in" [autoplay]="false" [maintainAspectRatio]="false" color="accent" [loop]="true" [hideArrows]="false"
                        [hideIndicators]="true" [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">
            <mat-carousel-slide #matCarouselSlide overlayColor="white" *ngFor="let courses of courses_slides; let i = index">
              <div class="myMatCarouselSlide2">
                <ng-container *ngFor="let course of courses.boatReservationDTOList ; let j = index">
                  <mat-card style="margin-right: 5px; margin-left: 5px" class="myCardSlide">
                    <div>
                      <div>
                        <h4 class="card-title"> {{ course.id }} {{ course.startDate }} - {{ course.endDate }} </h4>
                        <p class="card-text">Trajanje: 2 dana </p>
                        <p class="card-text">Maksimalan broj osoba: {{ course.maxGuests }}</p>
                        <p class="card-text">Dodatne usluge: {{course.additionalServices }} </p>
                        <p class="card-text">Cena po 1 nocenju: {{ course.price }} din/dan</p>
                      </div>
                      <br>
                    </div>
                  </mat-card>
                </ng-container>
              </div>
            </mat-carousel-slide>
          </mat-carousel>
        </div>
      </div>
      <!-- AKCIJE KRAJ -->

      <div class="align-items-center">
        <button mat-raised-button (click)="addActionDialog()" class="btn add-action-button">Dodaj akciju</button>
      </div>
    </div>

<!--    <div>-->
<!--      <google-map> </google-map>-->
<!--    </div>-->

  </div>
  <app-footer></app-footer>
</div>
