<body>
<h1 mat-dialog-title style="font-size: large">Prilozite zalbu</h1>
<div mat-dialog-content>
  <div class="flex-row">
  <div style="display:inline;" >
    <div style="float: left; width: 50%;">
      <label>Unesite ocenu</label>
    </div>
    <div style="float: left; width: 50%;">
      <mat-select [(ngModel)]="feedback.grade"  required>
        <mat-option  [value]="1"> 1
        </mat-option>
        <mat-option [value]="2"> 2
        </mat-option>
        <mat-option [value]="3"> 3
        </mat-option>
        <mat-option [value]="4"> 4
        </mat-option>
        <mat-option [value]="5"> 5
        </mat-option>
      </mat-select>
    </div>
  </div>

    <div class="flex-column ">
      <label style="margin-right: 100px">Unesite razlog</label>
      <textarea type="text"
                name="message"
                rows="5"
                (change)="doTextareaValueChange($event)"
                class="form-control" >
      </textarea>
    </div>

  </div>
</div>
<div mat-dialog-actions style="margin: 20px auto auto 115px;">
  <button mat-button (click)="close()" >Otkaži</button>
  <button mat-button cdkFocusInitial style="margin-left: 10px" (click)="ok()" >Sačuvaj</button>
</div>
<ngx-alerts></ngx-alerts>
</body>




