<div style="margin-top: 66px">

  <mat-grid-list cols="8" rowHeight="2:1" >
    <mat-grid-tile [colspan]="3">
      <div style="display:inline;" >
        <div style="float: right; width: 100%;">
          <label style="font-size: 1.2vw; margin-left: 5px" >Pronadjite dostupne vikendice:</label>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" style="margin-top: 10px" >
      <div style="width: 100%; display: flex">
        <input type="datetime-local" name="startDate" style="width: 30%" placeholder="Unesite datum i vreme pocetka" required>
        <input type="number" name="duration"  [min]="1" [step] =1 style="width: 30%" placeholder="Unesite broj dana">
        <input type="number" name="duration"  [min]="1" [step] =1 style="width: 30%" placeholder="Unesite broj gostiju">
        <button (click)="searchHouses()">
          <mat-icon >search</mat-icon>
        </button>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>

    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="3" >
      <div class="d-flex flex-row mt-5">
        <div class="d-flex flex-column ms-3 filter-sort-container">
          <span class="basic-title text-center">Sortiraj prema:</span>
          <div class="form-check">
            <label> Naziv vikendice </label>
            <mat-radio-group aria-label="Select an option" [(ngModel)]="houseName" (change)="changeSortName()" style="margin-left: 7px;">
              <mat-radio-button [value]="1">A-Z</mat-radio-button>
              <mat-radio-button [value]="2" style="margin-left: 5px">Z-A</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="form-check">
            <label> Ocena vikendice </label>
            <mat-radio-group aria-label="Select an option" [(ngModel)]="houseGrade" (change)="changeSortGrade()" style="margin-left: 7px;">
              <mat-radio-button [value]="1"><mat-icon>
                arrow_upward</mat-icon></mat-radio-button>
              <mat-radio-button [value]="2" style="margin-left: 5px"><mat-icon>
                arrow_downward</mat-icon></mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="form-check">
            <label> Cena vikendice po danu </label>
            <mat-radio-group aria-label="Select an option"  [(ngModel)]="housePrice" (change)="changeSortPrice()" style="margin-left: 7px;">
              <mat-radio-button [value]="1"><mat-icon>
                arrow_upward</mat-icon></mat-radio-button>
              <mat-radio-button  [value]="2" style="margin-left: 5px"><mat-icon>
                arrow_downward</mat-icon></mat-radio-button>
            </mat-radio-group>
          </div>

        </div>
      </div>
    </mat-grid-tile>


    <mat-grid-tile [rowspan]="7" [colspan]="4" style="margin-top: 0;border:2px solid #2691d9; "  class="script-menu" >
      <div  style="width: 98%; max-height: 110%; border: 2px solid #2691d9;
  border-radius: 5px; margin-bottom: 5px"  *ngFor="let house of houses" >
        <mat-card  style="width: 100%; height: 100%; padding: 5px">
          <mat-grid-list cols="4" rowHeight="1.1:1" >
            <mat-grid-tile >

              <img *ngIf="house.images.length > 0" style="width: 100%; height: 100%;border-radius: initial" src="{{house.images[0].imageUrl}}">
              <img *ngIf="house.images.length == 0" style="width: 100%; height: 100%;border-radius: initial" src="assets/no_image.jpg" >
            </mat-grid-tile>

            <mat-grid-tile  [colspan]="3"  class="script-menu1"  >
              <div style="display:inline;" >
                <div style="float: left; width: 75%;">
                  <label style="font-size: 1.2vw; font-weight: 500; margin-left: 5px" ><strong>{{house.name}}</strong></label>
                </div>
                <div style="float: left; width: 10%;">
                  <label style="font-size: 1.0vw; font-weight: 500; color: orange; margin-left: 5px" *ngIf="house.grade > 0" >{{house.grade}} </label>
                  <label style="font-size: 1.0vw; font-weight: 500; color: orange; margin-left: 5px" *ngIf="house.grade == 0" > Bez ocene </label>
                </div>
                <div style="float: left; width: 15%">
                  <mat-icon style="color: orange;">star</mat-icon>
                </div>
              </div>
              <div style="display:inline;" >
                <div style="float: left; width: 80%;">
                  <mat-icon style="color: red; width: 1.0vw; height: 1.0vw; margin-right: 0.7vw" >place</mat-icon>
                  <label style="font-size: 1.2vw; margin-left: 5px" >{{house.address.street}}, {{house.address.city}}, {{house.address.state}}</label>
                </div>
                <div style="float: left; width: 20%;">
                  <label style="font-size: 1.2vw; margin-left: 5px" >{{house.pricePerDay}} din/danu</label>
                </div>

              </div>
              <div style="display:inline;" >

                <div style="float: left; width: 30%;">
                  <button mat-raised-button color="primary" (click)="goToHouse(house.id)">Pogledaj vikendicu</button>
                </div>
                <div style="float: left; width: 30%;">
                  <button mat-raised-button color="primary" [disabled]="onGoingSearch" >Zakazi rezervaciju</button>
                </div>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card>
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="3" [rowspan]="4" style="margin-bottom: 50px"  >
      <div class="d-flex flex-row mt-5">
        <div class="d-flex flex-column ms-3 filter-sort-container">
          <span class="basic-title text-center">Filtriraj po oceni</span>
          <mat-radio-group  [(ngModel)]="houseFilterGrade" >
            <div class="form-check">
              <label> <mat-icon style="color: orange;">star</mat-icon><mat-icon style="color: orange;">star</mat-icon><mat-icon style="color: orange;">star</mat-icon><mat-icon style="color: orange;">star</mat-icon>
                <mat-icon style="color: orange;">star</mat-icon></label>
              <mat-radio-button [value]="5" style="margin-left: 20px"></mat-radio-button>
            </div>
            <div class="form-check">
              <label> <mat-icon style="color: orange;">star</mat-icon><mat-icon style="color: orange;">star</mat-icon><mat-icon style="color: orange;">star</mat-icon><mat-icon style="color: orange;">star</mat-icon>
              </label>
              <mat-radio-button [value]="4" style="margin-left: 20px"></mat-radio-button>
            </div>
            <div class="form-check">
              <label> <mat-icon style="color: orange;">star</mat-icon><mat-icon style="color: orange;">star</mat-icon><mat-icon style="color: orange;">star</mat-icon>
              </label>
              <mat-radio-button [value]="3" style="margin-left: 20px"></mat-radio-button>
            </div>
            <div class="form-check">
              <label><mat-icon style="color: orange;">star</mat-icon><mat-icon style="color: orange;">star</mat-icon>
              </label>
              <mat-radio-button [value]="2" style="margin-left: 20px"></mat-radio-button>
            </div>
            <div class="form-check">
              <label><mat-icon style="color: orange;">star</mat-icon>
              </label>
              <mat-radio-button [value]="1" style="margin-left: 20px"></mat-radio-button>
            </div>
            <div class="form-check">
              <label>Prikazi sve
              </label>
              <mat-radio-button [value]="0" style="margin-left: 20px"></mat-radio-button>
            </div>
          </mat-radio-group>
          <button style="width: 50%;position: relative; margin: auto" (click)="filterGrade()"> Filter </button>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>

    </mat-grid-tile>
    <mat-grid-tile>

    </mat-grid-tile>
    <mat-grid-tile>

    </mat-grid-tile>
    <mat-grid-tile>

    </mat-grid-tile>
    <mat-grid-tile>

    </mat-grid-tile>
    <mat-grid-tile>

    </mat-grid-tile>
    <mat-grid-tile>

    </mat-grid-tile>
    <mat-grid-tile>

    </mat-grid-tile>
    <mat-grid-tile>

    </mat-grid-tile>
  </mat-grid-list>



</div>



