<body>
<div class = "container" >
  <div class = "title"> Kreiranje profila vikendice</div>
  <form  style="margin: auto">
    <div class = "user-details" >
      <div class = "input-box">
        <span class="details">Naziv vikendice:</span>
        <input type="text" name="startDate" [(ngModel)]="house.name" placeholder="Unesite naziv vikendice" required>
      </div>
      <div class = "input-box">
        <span class="details">Promo opis:</span>
        <input type="text" name="endDate" [(ngModel)]="house.promoDescription" placeholder="Unesite promo opis" required>
      </div>
      <br><br>
      <div class = "input-box">
        <span class="details">ADRESA</span>
      </div>
      <div class = "input-box">
        <span class="details">Ulica:</span>
        <input type="text" name="street" [(ngModel)]="house.address.street" placeholder="Unesite ulicu" required>
      </div>
      <div class = "input-box">
        <span class="details">Grad:</span>
        <input type="text" name="city" [(ngModel)]="house.address.city" placeholder="Unesite grad" required>
      </div>
      <div class = "input-box">
        <span class="details">Drzava:</span>
        <input type="text" name="state" [(ngModel)]="house.address.state" placeholder="Unesite drzavu" required>
      </div>
      <div class = "input-box">
        <span class="details">Geografska duzina:</span>
        <input type="number" name="longitude" [(ngModel)]="house.address.longitude" [min]="this.min" placeholder="Unesite geografsku duzinu" required>
      </div>
      <div class = "input-box">
        <span class="details">Geografska sirina:</span>
        <input type="number" name="latitude" [(ngModel)]="house.address.latitude" [min]="this.min"  placeholder="Unesite geografsku sirinu" required>
      </div>
      <div class = "input-box">
        <span class="details">Postanski broj:</span>
        <input type="number" name="postalCode" [(ngModel)]="house.address.postalCode" [min]="this.min" placeholder="Unesite postanski broj" required>
      </div>
      <br><br>
      <div class = "input-box">
        <span class="details">Pravila ponasanja:</span>
        <input type="text" name="behaviourRules" [(ngModel)]="house.behaviourRules" placeholder="Unesite pravila ponasanja" required>
      </div>
      <div class = "input-box">
        <span class="details">Cena za 1 nocenje:</span>
        <input type="number" name="pricePerDay" [(ngModel)]="house.pricePerDay" [min]="this.min" placeholder="Unesite cenu" required>
      </div>
      <div class = "input-box">
        <span class="details">Besplatno otkazivanje:</span>
        <mat-checkbox name="checkbox" [(ngModel)]="house.cancalletionFree" (change)="checkboxChanged($event)"> </mat-checkbox>
      </div>
      <div class = "input-box">
        <span class="details">Uslovi otkazivanja (u %):</span>
        <input type="number" name="cancalletionFee" [(ngModel)]="house.cancalletionFee" [min]="this.min" placeholder="Unesite novcanu nadoknadu" required>
      </div>
      <br><br>
    </div>
    <br> <br>
    <div class = "button">
      <input type ="button" value="Dodaj vikendicu" (click)="createProfile()">
    </div>
  </form>
</div>
<ngx-alerts></ngx-alerts>
</body>
