<div id="house-profile">
<app-header></app-header>
<br><br>
<div style="margin-top: 10px" class="house-container">
  <mat-grid-list cols="8" rowHeight="1.5:1" class="house-container">

    <mat-grid-tile [colspan]="6"  >
      <div style="width: 100%; display: flex">
        <input type="text" style="width: 50vw"  placeholder="Unesite naziv">
        <input type="text" style="width: 50vw"  placeholder="Unesite adresu">
        <input type="number" style="width: 50vw" placeholder="Unesite ocenu">
        <button mat-icon-button class="btn delete-action-button"> <mat-icon>search</mat-icon> </button>
      </div>
    </mat-grid-tile>

    <div class="d-flex flex-column house-view-title-container">
      <mat-grid-tile [rowspan]="7" [colspan]="6" style="margin-top: 3vw;"  class="script-menu" >
        <div style="max-height: 100%; border: 2px solid #2691d9;  border-radius: 6px; margin-bottom: 1px"
              *ngFor="let house of houses; let i = index">
          <mat-card style="width: 100%;">
            <mat-grid-list cols="4" rowHeight="1.5:1" >
              <mat-grid-tile  [colspan]="4" class="script-menu1">
                <div style="display:inline;" >
                  <div style="float: left; width: 75%;">
                    <label style="font-size: 2vw; font-weight: 500; margin-left: 5px;font-family: Poppins;" ><strong> {{house.id }} {{ house.name }} </strong></label>
                  </div>
                </div>
                <div style="float: right">
                  <button mat-icon-button (click)="deleteHouse(house.id)" class="btn delete-action-button"> <mat-icon>delete</mat-icon> </button>
                </div>
                <div style="display:inline;" >
                  <div style="float: left; width: 100%;">
                    <mat-icon style="color: red">place</mat-icon>
                    <label style="font-size: 1.2vw; margin-left: 5px;font-family: Poppins;"> {{ house.address.street}}, {{ house.address.city}}, {{ house.address.state}} </label>
                  </div>
                </div>
                <div style="display:inline;" >
                  <div style="float: left; width: 100%;">
                    <mat-icon style="color: orange;">star</mat-icon>
                    <label style="font-size: 1.0vw; font-weight: 500; color: orange; margin-left: 5px;font-family: Poppins"> {{ house.grade }} </label>
                  </div>
                </div>
                <div style="float: right;">
                  <button mat-raised-button (click)="showHouse(house.id)" class="show-btn">Prikazi</button>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-card>
      </div>
    </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>
  <div class="align-items-center">
    <button mat-raised-button (click)="addActionDialog()" class="btn add-action-button">Dodaj vikendicu</button>
  </div>
  <app-footer></app-footer>
</div>

