<h1 mat-dialog-title class="ms-3">Period odmora</h1>
<div mat-dialog-content>
  <form  style="margin: auto !important" #addActionForm = "ngForm" (ngSubmit)="addPeriod()">
    <div class = "user-details" >
      <div class = "input-box">
        <span class="details">Datum i vreme pocetka nedostupnog perioda:</span>
        <input type="datetime-local" (keydown)="false" name="startDate" id="startDate" min="2022-01-19T08:30" [(ngModel)]="adventureAvaibilityReservation.startDate" placeholder="Unesite datum i vreme pocetka" required>
      </div>
      <br>
      <div class = "input-box">
        <span class="details">Datum i vreme kraja nedostupnog perioda:</span>
        <input type="datetime-local" (keydown)="false" min="2022-01-19T08:30" name="endDate" id="endDate" [(ngModel)]="adventureAvaibilityReservation.endDate" required>
      </div>
      <br>

    </div>
    <br> <br>
    <div class = "button">
      <input type ="submit" value="Dodaj">
    </div>
  </form>
  <ngx-alerts></ngx-alerts>
</div>
