<h1 mat-dialog-title class="ms-3">Period odmora</h1>
<div mat-dialog-content>
  <div class="mt-3 d-flex flex-row">
    <div class="d-flex flex-column ms-3 justify-content-center">
        <span>OD:</span>
        <mat-form-field appearance="fill">
            <mat-label>Angular forms</mat-label>
            <input matInput [matDatepicker]="picker1" [(ngModel)]="dateFrom">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
    </div>
    <div class="d-flex ms-5 flex-column justify-content-center">
        <span>DO:</span>
        <mat-form-field appearance="fill">
            <mat-label>Angular forms</mat-label>
            <input matInput [matDatepicker]="picker2" [(ngModel)]="dateTo">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Otkaži</button>
  <button mat-button cdkFocusInitial (click)="ok()">Sačuvaj</button>
</div>
