<div style="margin-top: 66px">

<mat-grid-list cols="5" rowHeight="3:1" >
  <mat-grid-tile >1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>
   4
  </mat-grid-tile>
  <mat-grid-tile>

  </mat-grid-tile>
  <mat-grid-tile>
    6
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="5" [colspan]="3" >
        <div  style="width: 100%; max-height: 100%; overflow-y: scroll">
          <mat-card >
            <mat-grid-list cols="3" rowHeight="3:1">
              <mat-grid-tile >1</mat-grid-tile>
              <mat-grid-tile>2</mat-grid-tile>
              <mat-grid-tile>3</mat-grid-tile>
              <mat-grid-tile>
                4
              </mat-grid-tile>
            </mat-grid-list>
            card 1
          </mat-card>

          <mat-card>
            card 2
          </mat-card>

          <mat-card>
            card 3
          </mat-card>

          <mat-card>
            card 4
          </mat-card>

          <mat-card>
            card 5
          </mat-card>

          <mat-card>
            card 6
          </mat-card>

          <mat-card>
            card 7
          </mat-card>
          <mat-card>
            card 7
          </mat-card>
          <mat-card>
            card 7
          </mat-card>
          <mat-card>
            card 7
          </mat-card>
        </div>

  </mat-grid-tile>

</mat-grid-list>



</div>


