<div style="margin-top: 66px">

<mat-grid-list cols="8" rowHeight="2:1" >
  <mat-grid-tile [colspan]="3">
    6
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" style="margin-top: 10px" >
    <div style="width: 100%; display: flex">
      <input type="text" style="width: 30%">
      <input type="text" style="width: 30%">
      <input type="text" style="width: 30%">
      <button>
        <mat-icon >search</mat-icon>
      </button>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    6
  </mat-grid-tile>
  <mat-grid-tile>
    6
  </mat-grid-tile>
  <mat-grid-tile>
    6
  </mat-grid-tile>
  <mat-grid-tile>
    6
  </mat-grid-tile>


  <mat-grid-tile [rowspan]="6" [colspan]="4" style="margin-top: 0;"  class="script-menu" >
        <div  style="width: 95%; max-height: 100%; border: 2px solid #2691d9;
  border-radius: 5px; margin: 5px" *ngFor="let _ of [1,2,3,4,5] ; let i = index">
          <mat-card style="width: 100%;">
            <mat-grid-list cols="4" rowHeight="1.5:1" >
              <mat-grid-tile >
                <img style="width: 100%; height: 100%;" src="{{'assets/cottage.jpg'}}">
              </mat-grid-tile>

              <mat-grid-tile  [colspan]="3" >
                <div style="width: 100%">
                  <mat-grid-list  cols="7" rowHeight="1:1">
                    <mat-grid-tile>

                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="3" [rowspan]="2"  style="width: 100%; height: 100%">
                      <div style="width: 100%; height: 50%">
                        <mat-grid-list cols = "1" rowHeight="9:1">
                          <mat-grid-tile>
                              <label  style="font-size:1.3vw;"><strong> Havana </strong> </label>
                          </mat-grid-tile>
                          <mat-grid-tile>
                            <label  style="font-size:1.1vw;"> Adresa</label>
                          </mat-grid-tile>
                          <mat-grid-tile>
                            <label  style="font-size:1.1vw;"> Ocena</label>
                          </mat-grid-tile>
                          <mat-grid-tile>
                            <label  style="font-size:1.1vw;"> Opis</label>
                          </mat-grid-tile>


                        </mat-grid-list>
                      </div>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="3">

                    </mat-grid-tile>
                  </mat-grid-list>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-card>
        </div>
  </mat-grid-tile>

</mat-grid-list>



</div>


