<body>
<div class = "container" >
  <div class = "title"> Period nedostupnosti</div>
  <form  style="margin: auto !important" #addActionForm = "ngForm" (ngSubmit)="addPeriod()">
    <div class = "user-details" >
      <div class = "input-box">
        <span class="details">Datum i vreme pocetka nedostupnog perioda:</span>
        <input type="datetime-local" name="startDate" [(ngModel)]="boatReservation.startDate"  [min]="startDate"  placeholder="Unesite datum i vreme pocetka" required>
      </div>
      <br>
      <div class = "input-box">
        <span class="details">Datum i vreme kraja nedostupnog perioda:</span>
        <input type="datetime-local" name="endDate" [(ngModel)]="boatReservation.endDate"  [min]="startDate"  required>
      </div>
      <br>

    </div>
    <br> <br>
    <div class = "button">
      <input type ="submit" value="Dodaj">
    </div>
  </form>
</div>
<ngx-alerts></ngx-alerts>
</body>
