<app-header></app-header>
<br><br><br><br>
<div class="boat-container1" >
  <h2>  Izvestaj o poslovanju broda <b> {{ boat.name }} </b> </h2>
</div>
<br><br><br><br>
<div class="boat-container" >
  <label> Prosecna ocena broda:  {{ boat.grade }}  </label>
</div>
<br><br><br>
<div class="button-container1">
  <label style="text-align: left"> Izaberite godinu za koju zelite da vidite izvestaj </label> <br>
  <label style="text-align: left">  poslovanja broda na mesecnom nivou: </label>
</div>
<br><br>
<div class="button-container">
  <button class="btn1 filter-sort-container"  (click)="year2021func()"> 2021 </button>
  <button class="btn2 filter-sort-container"  (click)="year2022func()"> 2022 </button>
</div>
<div class="container">
  <div class="bar" [chart]="chartMonthly"></div>
</div>
<br><br>
<div class="container">
  <div class="bar" [chart]="chartYearly"></div>
</div>
<br><br>
<div class="container">
  <div class="bar" [chart]="chartWeekly"></div>
</div>
<br><br>
<div class="container">
  <div class="bar" [chart]="chartWeeklyIncome"></div>
</div>
<app-footer></app-footer>


