<div id="house-profile">
  <app-plain-header> </app-plain-header>
  <div [style.height]="500">
    <mat-carousel *ngIf="isLoaded"
      timings="250ms ease-in" [autoplay]=true [interval] = "5000" color="accent" maxWidth="auto" [proportion]= "40" [slides] = "images.length"
      [loop]=true [hideArrows]="false" [hideIndicators]="true" [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">
      <mat-carousel-slide
        #matCarouselSlide
        *ngFor="let sl of images;"
        [image]=sl.imageUrl
        overlayColor="#00000040"
        [hideOverlay]="false">
        <button mat-raised-button (click)="deleteImage(sl.id)" class="btn delete-picture-button">Obriši sliku</button>
      </mat-carousel-slide>
        #matCarouselSlide>
    </mat-carousel>
<!--    <button mat-raised-button (click)="addImage.click()" class="btn add-picture-button">Dodaj sliku</button>-->
<!--    <input type="file" accept="image/*" style="display:none;border:none;" (change)="addImageToHouse($event)" #addImage/>-->
    <br><br><br>
    <button mat-raised-button (click)="imageAdded(house.id)" class="btn add-picture-button">Dodaj sliku</button>

    <div class="house-container">
      <div class="d-flex flex-column house-view-title-container">
        <!-- naziv vikednice -->
        <div class="d-flex left align-items-center" style="margin-left: 10px">
        <span class="house-name display-5" style="margin-left: 10px">
                {{house.name}}
                <button mat-raised-button (click)="modifyProfile()" class="btn modify-profile-button">Izmeni profil</button>
              </span>
        </div>
        <!-- adresa vikednice -->
        <div class="d-flex left align-items-center" style="margin-left: 10px" >
          <a class="house-address ms-3 mt-3">{{house.address.street}}, {{house.address.city}}, {{house.address.state}}</a>
          <br>
        </div>

        <!-- ocena -->
        <div class="d-flex left align-items-center" style="margin-left: 20px" >
          <mat-icon style="color: orange;">star</mat-icon>
          <a style="color: orange;">{{house.grade}}</a>
        </div>

        <!-- informacije -->
        <div class="d-flex flex-row mt-5">
          <div class="d-flex flex-column ms-3 filter-sort-container">
            <span class="basic-title text-center">Informacije</span>
            <div class="form-check">
              <label class="form-check-label wrap">
                Broj soba: {{rooms.length}}
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                Broj kreveta po sobi: <br>
                <li *ngFor="let room of rooms">
                  Soba {{room.id}} : {{room.numberOfBeds}} <br>
                </li>
              </label>
            </div>
            <div class="form-check last-form-check">
              <label class="form-check-label wrap">
                <br> Pravila ponasanja: <br> {{house.behaviourRules}}
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label wrap">
                <br> Cena za 1 nocenje: {{house.pricePerDay}} din
              </label>
            </div>
            <div class="form-check last-form-check">
              <label class="form-check-label wrap">
                <br> Dodatne usluge: <br>
                <li *ngFor="let service of additionalServices">
                  {{service.name}} : {{service.price}} din <br>
                </li>
                <br>
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label wrap" *ngIf="freeCancelation; else elseBlockShow">
                Besplatno otkazivanje: DA
              </label>
              <ng-template #elseBlockShow>
                <label class="form-check-label wrap">
                  Besplatno otkazivanje: NE
                  <br> Uslovi otkazivanja: {{house.cancalletionFee}} din <br>
                </label>
              </ng-template>
            </div>
          </div>

          <!-- promo opis -->
          <div class="house-promo-desc d-flex ms-5 flex-column">
            {{ house.promoDescription }}
          </div>
        </div>

        <!-- LOKACIJA PRIMER 1  -->
        <div>
          <div>
            <br> <label style="font-size: 30px; font-weight: 500; margin-left: 30px" >Lokacija:</label>
          </div>
          <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </div>
        <br> <br>

        <table class="align-items-center">
          <tr class="align-items-center">
            <td>
              <div class="align-items-center">
              <button mat-raised-button (click)="showCalendar()" class="btn show-calendar">Prikazi kalendar</button>
              </div>
            </td>
            <td>
              <div class="align-items-center">
              <button mat-raised-button (click)="defineUnavailablePeriod()" class="btn define-period">Definisi period nedostupnosti</button>
              </div>
            </td>
            <td>
              <div class="align-items-center">
                <button mat-raised-button (click)="charts()" class="btn charts-button">Izvestaj</button>
              </div>
            </td>
          </tr>
        </table>

        <br> <br>

        <!-- AKCIJE  -->
        <div>
          <div>
            <label style="font-size: 30px; font-weight: 500; margin-left: 30px" >Akcije:</label>
          </div>
          <div class="myMatCarousel2">
            <mat-carousel *ngIf="isSlideLoaded" timings="250ms ease-in" [autoplay]="false" [maintainAspectRatio]="false" color="accent" [loop]="true" [hideArrows]="false"
                          [hideIndicators]="true" [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">
              <mat-carousel-slide #matCarouselSlide overlayColor="white" *ngFor="let courses of courses_slides; let i = index">
                <div class="myMatCarouselSlide2">
                  <ng-container *ngFor="let course of courses.houseReservationDTOList ; let j = index">
                    <mat-card style="margin-right: 5px; margin-left: 5px" class="myCardSlide">
                      <div>
                        <div>
                          <h4 class="card-title"> {{ '*' + course.id + '*' }} <br> {{ course.startDate | date:'dd/MM/yyyy HH:mm:ss'}}  - {{ course.endDate | date:'dd/MM/yyyy HH:mm:ss' }} </h4>
                          <br>
  <!--                        <p class="card-text">Trajanje: 2 dana </p>-->
                          <p class="card-text">Maksimalan broj osoba: {{ course.maxGuests }}</p>
                          <p class="card-text">Dodatne usluge: </p>
                            <li *ngFor="let a of course.additionalServices">
                               {{a.name}} : {{a.price}} din <br>
                            </li>
                          <p class="card-text">Cena po 1 nocenju: {{ course.price }} din/dan</p>
  <!--                        <p class="card-text"> Slobodna: {{ course.available }} din/dan</p>-->
                          <button mat-icon-button  (click)="editActionDialog(course.id, house.id)" class="btn edit-action-button"> <mat-icon>edit</mat-icon>  </button>
                          <button mat-icon-button (click)="deleteActionDialog(course.id)" class="btn delete-action-button"> <mat-icon>delete</mat-icon> </button>

                        </div>
                        <br>
                      </div>
                    </mat-card>
                  </ng-container>
                </div>
              </mat-carousel-slide>
            </mat-carousel>
          </div>
        </div>
        <!-- AKCIJE KRAJ -->
        <br>
        <div class="align-items-center">
          <button mat-raised-button (click)="addActionDialog()" class="btn add-action-button">Dodaj akciju</button>
        </div>
        <br><br><br>

        <div>
          <label style="font-size: 30px; font-weight: 500; margin-left: 30px" >Spisak/istorija rezervacija:</label>
        </div>
        <br>

        <!--  SPISAK SVIH REZERVACIJA  -->
        <div style="margin-top: 10px" class="">
          <mat-grid-list cols="8" rowHeight="1.5:1" class="house-container1">
            <mat-grid-tile [colspan]="6"  >
              <div style="width: 100%; display: flex">
                <input type="text" style="width: 50vw" [(ngModel)]="userFirstNameSearch" placeholder="Unesite ime ">
                <input type="text" style="width: 50vw" [(ngModel)]="userLastNameSearch" placeholder="Unesite prezime ">
                <input type="text" style="width: 50vw" [(ngModel)]="userUsernameSearch" placeholder="Unesite korisnicko ime ">
                <button mat-icon-button class="btn delete-action-button" (click)="searchUsers()"> <mat-icon>search</mat-icon> </button>
                <button mat-icon-button class="btn delete-action-button" (click)="clearUsers()"> <mat-icon>clear</mat-icon> </button>
              </div>
            </mat-grid-tile>

            <div class="d-flex flex-column">
              <mat-grid-tile [rowspan]="7" [colspan]="6" style="margin-top: 3vw;"  class="script-menu" >
                <div style="max-height: 100%; border: 2px solid #2691d9;  border-radius: 6px; margin-bottom: 1px" *ngFor="let reserved of reservedCourses; let i = index">
                  <mat-card style="width: 100%;">
                    <mat-grid-list cols="4" rowHeight="1.2:1" >
                      <mat-grid-tile  [colspan]="4" class="script-menu1">
                        <div style="display:inline;">
                          <div style="float: left; width: 75%;">
                            <label style="font-size: 2vw; font-weight: 500; margin-left: 5px;font-family: Poppins;" ><strong> {{reserved.id }}  </strong></label>
                          </div>
                        </div>
                        <div style="float: right">
                          <label>({{ reserved.guest.username }})</label>
                          <button mat-icon-button class="btn" (click)="seeGuestProfile(reserved.id)"> <mat-icon>person</mat-icon> </button>
                        </div>
                        <div style="float: right">
                        </div>
                        <div style="float: left; width: 75%;">
                          <label>{{ reserved.guest.firstName }} {{ reserved.guest.lastName }}</label>
                        </div>
                        <div style="display:inline;" >
                          <div style="float: left; width: 100%;">
                            <label style="font-family: Poppins"> {{ reserved.startDate | date:'dd/MM/yyyy HH:mm:ss'}}  - {{ reserved.endDate | date:'dd/MM/yyyy HH:mm:ss' }} </label>
                          </div>
                        </div>
                        <div style="display:inline;" >
                          <div style="float: left; width: 100%;">
                            <label style="font-family: Poppins"> Cena: {{ reserved.price }} din </label>
                          </div>
                        </div>
                        <div style="float: right">
                          <button *ngIf="checkDate(reserved.endDate)" class="btn report" (click)="makeReport(reserved.id)"> Popuni izvestaj </button>
                        </div>

                      </mat-grid-tile>
                    </mat-grid-list>
                  </mat-card>
                </div>
              </mat-grid-tile>
            </div>
          </mat-grid-list>
        </div>

        <div class="align-items-center">
          <button mat-raised-button (click)="createReservation()" class="btn add-action-button">Kreiraj rezervaciju za klijenta</button>
        </div>
        <br>

      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
