<body>
  <div class = "container">
    <div class = "title"> Profil korisnika </div>
    <form  #registrationForm = "ngForm" >
      <div class = "user-details">
        <div class = "input-box">
          <span class="details">Ime</span>
          <input type="text" name="firstName" [(ngModel)]="user.firstName" placeholder="Enter your name" disabled>
        </div>
        <div class = "input-box">
          <span class="details">Prezime</span>
          <input type="text"  name="lastName"  [(ngModel)]="user.lastName" placeholder="Enter your surname"  disabled>
        </div>
        <div class = "input-box">
          <span class="details">Email</span>
          <input type="text"  name="Email"  [(ngModel)]="user.email" placeholder="Enter your email" disabled>
        </div>
        <div class = "input-box">
          <span class="details">Korisnicko ime</span>
          <input type="text"  name="username" [(ngModel)]="user.username" placeholder="Enter your username" disabled>
        </div>
        <div class = "input-box">
          <span class="details">Ulica</span>
          <input type="text"  name="street"  [(ngModel)]="user.addressDTO.street" placeholder="Enter your street" disabled>
        </div>
        <div class = "input-box">
          <span class="details">Grad</span>
          <input type="text"  name="city" [(ngModel)]="user.addressDTO.city" placeholder="Enter your city" disabled>
        </div>
        <div class = "input-box">
          <span class="details">Drzava</span>
          <input type="text"  name="state"  [(ngModel)]="user.addressDTO.state" placeholder="Enter your state" disabled>
        </div>
        <div class = "input-box">
          <span class="details">Postanski kod</span>
          <input type="number"  name="postalCode"  [(ngModel)]="user.addressDTO.postalCode" placeholder="Enter your postal code" disabled>
        </div>
        <div class = "input-box">
          <span class="details">Broj telefona</span>
          <input type="text"  name="phoneNumber"  [(ngModel)]="user.phoneNumber" placeholder="Enter your phone number" disabled>
        </div>
      </div>
    </form>
  </div>
  <ngx-alerts></ngx-alerts>
  </body>
  