<body>
<div class = "container">
  <div class = "title"> Registration</div>
  <form  #registrationForm = "ngForm" (ngSubmit)="registerUser()">
    <div class = "user-details">
      <div class = "input-box">
        <span class="details">First name</span>
        <input type="text" name="firstName" [(ngModel)]="user.firstName" placeholder="Enter your name"   required>
      </div>
      <div class = "input-box">
        <span class="details">Surname</span>
        <input type="text"  name="lastName"  [(ngModel)]="user.lastName" placeholder="Enter your surname"    required>
      </div>
      <div class = "input-box">
        <span class="details">Email</span>
        <input type="text"  name="Email"  [(ngModel)]="user.email" placeholder="Enter your email"  required>
      </div>
      <div class = "input-box">
        <span class="details">Username</span>
        <input type="text"  name="username" [(ngModel)]="user.username" placeholder="Enter your username" required>
      </div>
      <div class = "input-box">
        <span class="details">Password</span>
        <input type="password"  name="password" [(ngModel)]="user.password" placeholder="Enter your password" required>
      </div>
      <div class = "input-box">
        <span class="details">Confirm password</span>
        <input type="password"  name="conPassword" [(ngModel)]="passwordCheck" placeholder="Confirm your password" required>
      </div>
      <div class = "input-box">
        <span class="details">Street</span>
        <input type="text"  name="street"  [(ngModel)]="user.addressDTO.street" placeholder="Enter your street" required>
      </div>
      <div class = "input-box">
        <span class="details">City</span>
        <input type="text"  name="city" [(ngModel)]="user.addressDTO.city" placeholder="Enter your city" required>
      </div>
      <div class = "input-box">
        <span class="details">State</span>
        <input type="text"  name="state"  [(ngModel)]="user.addressDTO.state" placeholder="Enter your state" required>
      </div>
      <div class = "input-box">
        <span class="details">Postal code</span>
        <input type="number"  name="postalCode"  [(ngModel)]="user.addressDTO.postalCode" placeholder="Enter your postal code" required>
      </div>
      <div class = "input-box">
        <span class="details">Phone number</span>
        <input type="text"  name="phoneNumber"  [(ngModel)]="user.phoneNumber" placeholder="Enter your phone number" required>
      </div>
      <div class = "input-box" style="alignment: left">
        <span class="details">Type</span>
        <select  name="type" [(ngModel)]="user.authority" (change)="onChange($event)" >
          <option value="ROLE_USER">USER</option>
          <option value="ROLE_HOUSE_OWNER">HOUSE OWNER</option>
          <option value="ROLE_BOAT_OWNER">BOAT OWNER</option>
          <option value="ROLE_INSTRUCTOR">INSTRUCTOR</option>
        </select>
      </div>
      <div class = "input-box" *ngIf="!isUser">
        <span class="details">Why do you want to registrate?</span>
        <input type="text"  name="reason" [(ngModel)]="user.reasonForRegistration" placeholder="Give a few reasons" required>
      </div>
      <div class = "input-box me-3" *ngIf="user.authority == 'ROLE_INSTRUCTOR'">
        <span class="details">Your personal description</span>
        <textarea class="wrap" name="personalDescription" [(ngModel)]="user.personalDescription" placeholder="Personal description"></textarea>
      </div>
    </div>
    <div class = "button">
      <input type ="submit" value="Register">
    </div>
  </form>
</div>
<ngx-alerts></ngx-alerts>
</body>
