<body>
<div class = "container" >
  <div class = "title"> Izmena profila vikendice</div>
  <form  style="margin: auto">
    <div class = "user-details" >
      <div class = "input-box">
        <span class="details">Naziv vikendice:</span>
        <input type="text" name="startDate" [(ngModel)]="house.name" placeholder="Unesite naziv vikendice" required>
      </div>
      <div class = "input-box">
        <span class="details">Promo opis:</span>
        <input type="text" name="endDate" [(ngModel)]="house.promoDescription"  required>
      </div>
      <br><br>
      <div class = "input-box">
        <span class="details">ADRESA</span>
      </div>
      <div class = "input-box">
        <span class="details">Ulica:</span>
        <input type="text" name="street" [(ngModel)]="house.address.street" placeholder="Unesite maksimalan broj gostiju" required>
      </div>
      <div class = "input-box">
        <span class="details">Grad:</span>
        <input type="text" name="city" [(ngModel)]="house.address.city" placeholder="Unesite maksimalan broj gostiju" required>
      </div>
      <div class = "input-box">
        <span class="details">Drzava:</span>
        <input type="text" name="state" [(ngModel)]="house.address.state" placeholder="Unesite maksimalan broj gostiju" required>
      </div>
      <div class = "input-box">
        <span class="details">Geografska duzina:</span>
        <input type="text" name="longitude" [(ngModel)]="house.address.longitude" placeholder="Unesite maksimalan broj gostiju" required>
      </div>
      <div class = "input-box">
        <span class="details">Geografska sirina:</span>
        <input type="text" name="latitude" [(ngModel)]="house.address.latitude" placeholder="Unesite maksimalan broj gostiju" required>
      </div>
      <div class = "input-box">
        <span class="details">Postanski broj:</span>
        <input type="text" name="postalCode" [(ngModel)]="house.address.postalCode" placeholder="Unesite maksimalan broj gostiju" required>
      </div>
      <br><br>
      <div class = "input-box">
        <span class="details">Pravila ponasanja:</span>
        <input type="text" name="behaviourRules" [(ngModel)]="house.behaviourRules" placeholder="Unesite cenu" required>
      </div>
      <div class = "input-box">
        <span class="details">Cena za 1 nocenje:</span>
        <input type="number" name="pricePerDay" [(ngModel)]="house.pricePerDay" placeholder="Unesite cenu" required>
      </div>
      <div class = "input-box">
        <span class="details">Besplatno otkazivanje:</span>
        <mat-checkbox name="checkbox" [(ngModel)]="house.cancalletionFree" (change)="checkboxChanged($event)"> </mat-checkbox>
      </div>
      <div class = "input-box">
        <span class="details">Uslovi otkazivanje:</span>
        <input type="number" name="cancalletionFee" [(ngModel)]="house.cancalletionFee" placeholder="Unesite cenu" required>
      </div>

      <br><br>
      <div class = "input-box">
        <span class="details">SOBE</span>
      </div>
      <div class = "input-box">
          <span class="details">Broj soba:</span>
          <input type="number" name="lenRooms" [(ngModel)]="rooms.length" placeholder="Unesite broj soba" required>
      </div>
      <br>
      <div class = "input-box">
        <span class="details">Broj kreveta u sobama</span>
        <div *ngFor="let item of rooms;let index = index;">
          <span class="details">Soba {{item.id}}:</span>
          <input type="number" name=a{{index}} [(ngModel)]="rooms[index].numberOfBeds" placeholder="Unesite broj kreveta">
        </div>
      </div>
      <br><br>

<!--      <div class = "input-box" style="width: 50%;">-->
<!--        <div class="details">DODATNE USLUGE</div>-->
<!--        <div *ngFor="let serv of additionalServices;let index = index;">-->
<!--          <span class="details">Usluga {{serv.id}}:</span>-->
<!--          <input type="text" name=b{{index}} [(ngModel)]="additionalServices[index].name" placeholder="Unesite naziv usluge">-->
<!--        </div>-->

<!--        <div *ngFor="let serv of additionalServices;let index = index;">-->
<!--          <span class="details">Cena:</span>-->
<!--          <input type="text" name=c{{index}} [(ngModel)]="additionalServices[index].price" placeholder="Unesite cenu usluge">-->
<!--        </div>-->
<!--      </div>-->

      <table class = "input-box">
        <tr>
          <th>Dodatna usluga</th>
          <th>Cena</th>
        </tr>
        <tr *ngFor="let serv of additionalServices;let index = index;">
          <td>
            <input type="text" name=b{{index}} [(ngModel)]="additionalServices[index].name" placeholder="Unesite naziv usluge">
          </td>
          <td>
            <input type="number" name=c{{index}} [(ngModel)]="additionalServices[index].price" placeholder="Unesite cenu usluge">
          </td>
          <td>
            <button mat-icon-button (click)="deleteAdditionalService(additionalServices[index].id)"> <mat-icon>delete</mat-icon> </button>
          </td>
        </tr>
      </table>

      <div class = "input-box">
        <button mat-icon-button (click)="showAddingNewService()"> <mat-icon>add</mat-icon> </button>
      </div>

      <br>
      <div *ngIf="show">
        <div class = "input-box">
          <span class="details">Naziv usluge:</span>
          <input type="text" name="newAddSerName" [(ngModel)]="newAdditionalService.name" placeholder="Unesite naziv" required>
        </div>
        <div class = "input-box">
          <span class="details">Cena usluge:</span>
          <input type="number" name="newAddSerPrice" [(ngModel)]="newAdditionalService.price" placeholder="Unesite cenu" required>
        </div>
        <br>
        <div class = "button">
          <input type ="button" value="DODAJ NOVU USLUGU" (click)="addAdditionalService()">
        </div>
      </div>

      <br><br>
      <div class = "input-box">
        <span class="details"> TODO: IZMENA SLIKA!!!</span>
      </div>
    </div>
    <br> <br>
    <div class = "button">
      <input type ="button" value="Izmeni" (click)="editProfile()">
    </div>
  </form>
</div>
<ngx-alerts></ngx-alerts>
</body>

