<h1 mat-dialog-title>Rezervacije</h1>
<div mat-dialog-content>
  <div *ngFor="let reservation of allReservations">
    <div class="suspicious-customers-style mt-3 d-flex flex-row">
        <div class="d-flex flex-column ms-3 justify-content-top">
            <span class="me-2 nowrap">Pocetak: {{ reservation.startDate | date:'dd/MM/yyyy HH:mm:ss'}}</span>
            <span class="me-2 nowrap">Kraj: {{ reservation.endDate | date:'dd/MM/yyyy HH:mm:ss'}}</span>
        </div>
        <div class="d-flex ms-5 flex-column justify-content-top">
            <span class="basic-title mb-1">
                Korisnik
            </span>
            <a class="me-2" (click)="visitUserProfile(reservation.guest.id)">{{reservation.guest.firstName}} {{reservation.guest.lastName}}</a>
        </div>
        <div class="d-flex ms-5 flex-column justify-content-top">
            <span class="basic-title mb-1">
                Broj ljudi
            </span>
            <span class="me-2">{{reservation.maxGuests}}</span>
        </div>
        <div class="d-flex ms-5 flex-column justify-content-top">
            <span class="basic-title mb-1">
                Dodatne usluge
            </span>
            <li *ngFor="let service of reservation.additionalServices">
                {{service.name}} = {{service.price}}din <br>
            </li>
        </div>
        <div class="d-flex ms-5 flex-column justify-content-top">
            <span class="basic-title mb-1">
                Cena
            </span>
            <span class="me-2">{{reservation.price}}</span>
        </div>
    </div>
    <div *gnIf="!reservation.hasReport" class="mt-2 suspicious-customers-style">
        <form #addActionForm = "ngForm" (ngSubmit)="addReport(reservation)">
            <div class = "d-flex flex-row" >
            <div class = "input-box">
                <textarea name="comment" class="text-area-report" placeholder="Unesite komentar" [(ngModel)]="report.comment" required></textarea>
            </div>
            <div class="d-flex flex-column me-5">
                <div class = "input-box ms-3 mt-3">
                    <span class="details"></span>
                    <div>
                    <mat-checkbox name="checkbox1" [(ngModel)]="report.penaltyProposal"> Predlog za sankcionisanje klijenta </mat-checkbox>
                    </div>
                </div>
                <div class = "input-box ms-3 mt-3 me-3">
                    <span class="details"></span>
                    <div>
                    <mat-checkbox name="checkbox2" [(ngModel)]="report.missedReservation"> Klijent se nije pojavio </mat-checkbox>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-danger ms-5 mt-5 mb-5 justify-end align-items-center" >
                <span>Pošalji izveštaj</span>
            </button>
            </div>
        </form>
    </div>
  </div>
</div>
