<div id="adventure-profile">
  <div id="adventure-content">
    <app-header></app-header>
    <div class="adventure-container">
      <div class="d-flex flex-column adventure-view-title-container">
        <div class="d-flex flex-row mt-3">
          <div class="d-flex flex-column info">
            <div class="form-check">
              <button type="button" (click)="showAllUsers()" class="btn btn-danger menu-btn justify-end align-items-center" >
                <span>Korisnici</span>
              </button>
            </div>
            <div class="form-check">
              <button type="button" (click)="showNewUsersRequests()" class="btn btn-danger menu-btn justify-end align-items-center" >
                <span>Zahtevi za registraciju</span>
              </button>
            </div>
            <div class="form-check">
              <button type="button" (click)="showDeleteRequests()" class="btn btn-danger menu-btn justify-end align-items-center" >
                <span>Zahtevi za brisanje naloga</span>
              </button>
            </div>
            <div class="form-check">
              <button type="button" (click)="showAppeals()" class="btn btn-danger menu-btn justify-end align-items-center" >
                <span>Žalbe</span>
              </button>
            </div>
            <div class="form-check">
              <button type="button" (click)="showFeedbacks()" class="btn btn-danger menu-btn justify-end align-items-center" >
                <span>Komentari</span>
              </button>
            </div>
            <div class="form-check">
              <button type="button" (click)="showReports()" class="btn btn-danger menu-btn justify-end align-items-center" >
                <span>Izveštaji vlasnika</span>
              </button>
            </div>
            <div class="form-check">
              <button type="button" (click)="companyRules()" class="btn btn-danger menu-btn justify-end align-items-center" >
                <span>Pravila poslovanja</span>
              </button>
            </div>
            <div class="form-check">
              <button type="button" (click)="openProfileDialog()" class="btn btn-danger menu-btn justify-end align-items-center" >
                <span>Izmeni profil</span>
              </button>
            </div>
            <div class="form-check">
              <button type="button" (click)="calculateCompanyProfits()" class="btn btn-danger menu-btn justify-end align-items-center" >
                <span>Profit kompanije</span>
              </button>
            </div>
          </div>
          <div class="d-flex ms-5 flex-column adventures" *ngIf="content == 'users'">
            <div class="d-flex flex-row">
              <span class="adventure-section me-2">Korisnici</span>
              <a class="red-link mt-2" (click)="addAdmin()">Dodaj admina</a>
              <div class="d-flex search justify-content-end">
                <input type="text" placeholder="Pretraži..." name="search" [(ngModel)]="filterTerm">
              </div>
            </div>
            <div class="d-flex flex-row mt-3 adventures-container" *ngFor="let user of allUsers | filter:filterTerm">
              <div class="card card-design">
                <div class="card-body">
                  <div class="d-flex flex-row">
                    <div class="d-flex flex-column me-3">
                      <img class="profile-picture" src="https://mackenzienz.com/wp-content/uploads/2015/09/Fishing-PAge-BAnner.jpg?fbclid=IwAR1c5dayMLBGnI0cFCy6Z8zFfBjmkX17Z9krEkjT5v2vDbf5xKxvVNgFSmk"/>
                    </div>
                    <div class="d-flex flex-column">
                      <h4 class="card-title" (click)="addAdventure()">{{user.firstName}} {{user.lastName}} </h4>
                      <p class="card-text"> {{user.email}} </p>
                      <p class="card-text"> {{user.authority}} </p>
                    </div>
                  </div>
                </div>
                <div class="d-flex right me-3 mb-3 align-items-center justify-content-end">
                  <button type="button" class="btn add-action-button"
                    (click)="deleteUser(user.id)">OBRIŠI</button>
                </div>
              </div> 
            </div>
          </div>
          <div class="d-flex ms-5 flex-column adventures" *ngIf="content == 'new users'">
            <div class="d-flex flex-row mt-2">
              <span class="adventure-section me-2">Novi korisnici</span>
              <a class="red-link no-wrap mt-2" (click)="addAdventure()">Dodaj</a>
              <div class="d-flex search justify-content-end">
                <input type="text" placeholder="Pretraži..." name="search" [(ngModel)]="filterTerm">
              </div>
            </div>
            <div class="d-flex flex-row mt-3 adventures-container" *ngFor="let newUserRequest of newUserRequests | filter:filterTerm">
              <div class="card card-design">
                <div class="card-body">
                  <div class="d-flex flex-row">
                    <div class="d-flex flex-column me-3">
                      <img class="profile-picture" src="https://mackenzienz.com/wp-content/uploads/2015/09/Fishing-PAge-BAnner.jpg?fbclid=IwAR1c5dayMLBGnI0cFCy6Z8zFfBjmkX17Z9krEkjT5v2vDbf5xKxvVNgFSmk"/>
                    </div>
                    <div class="d-flex flex-column">
                      <h4 class="card-title" (click)="addAdventure()">ok</h4>
                      <p class="card-text">ok, ok, ok </p>
                      <p class="card-text">Broj osoba: 3</p>
                      <p class="card-text">Cena: 423 din/h</p>
                    </div>
                  </div>
                </div>
                <div class="d-flex right me-3 mb-3 align-items-center justify-content-end">
                  <button type="button" class="btn add-action-button"
                    (click)="activateNewUser(newUserRequest.id)">ODOBRI</button>
                </div>
                <div class="d-flex right me-3 mb-3 align-items-center justify-content-end">
                  <button type="button" class="btn add-action-button"
                    (click)="declineNewUser(newUserRequest.id)">ODBIJ</button>
                </div>
              </div> 
            </div>
          </div>
          <div class="d-flex ms-5 flex-column adventures" *ngIf="content == 'delete requests'">
            <div class="d-flex flex-row mt-2">
              <span class="adventure-section me-2">Zahtevi za brisanje naloga</span>
              <div class="d-flex search justify-content-end">
                <input type="text" placeholder="Pretraži..." name="search" [(ngModel)]="filterTerm">
              </div>
            </div>
            <div class="d-flex flex-row mt-3 adventures-container" *ngFor="let request of unansweredDeleteRequests | filter:filterTerm">
              <div class="card card-design">
                <div class="card-body">
                  <div class="d-flex flex-row">
                    <div class="d-flex flex-column me-3">
                      <img class="profile-picture" src="https://mackenzienz.com/wp-content/uploads/2015/09/Fishing-PAge-BAnner.jpg?fbclid=IwAR1c5dayMLBGnI0cFCy6Z8zFfBjmkX17Z9krEkjT5v2vDbf5xKxvVNgFSmk"/>
                    </div>
                    <div class="d-flex flex-column">
                      <h4 class="card-title" (click)="addAdventure()">ok</h4>
                      <p class="card-text">ok, ok, ok </p>
                      <p class="card-text">Broj osoba: 3</p>
                      <p class="card-text">Cena: 423 din/h</p>
                    </div>
                  </div>
                </div>
                <div class="d-flex right me-3 mb-3 align-items-center justify-content-end">
                  <button type="button" class="btn add-action-button"
                    (click)="answerOnDeleteRequest(request.id)">ODGOVORI</button>
                </div>
              </div> 
            </div>
            <div class="d-flex flex-row mt-3 adventures-container" *ngFor="let request of answeredDeleteRequests | filter:filterTerm">
              <div class="card card-design">
                <div class="card-body">
                  <div class="d-flex flex-row">
                    <div class="d-flex flex-column me-3">
                      <img class="profile-picture" src="https://mackenzienz.com/wp-content/uploads/2015/09/Fishing-PAge-BAnner.jpg?fbclid=IwAR1c5dayMLBGnI0cFCy6Z8zFfBjmkX17Z9krEkjT5v2vDbf5xKxvVNgFSmk"/>
                    </div>
                    <div class="d-flex flex-column">
                      <h4 class="card-title" (click)="addAdventure()">ok</h4>
                      <p class="card-text">ok, ok, ok </p>
                      <p class="card-text">Broj osoba: 3</p>
                      <p class="card-text">Cena: 423 din/h</p>
                    </div>
                  </div>
                </div>
                <div class="d-flex right me-3 mb-3 align-items-center justify-content-end">
                  <button type="button" class="btn add-action-button"
                    (click)="answerOnDeleteRequest(request.id)">ODGOVORI</button>
                </div>
              </div> 
            </div>
          </div>
          <div class="d-flex ms-5 flex-column adventures" *ngIf="content == 'appeals'">
            <div class="d-flex flex-row mt-2">
              <span class="adventure-section me-2">Žalbe</span>
              <div class="d-flex search justify-content-end">
                <input type="text" placeholder="Pretraži..." name="search" [(ngModel)]="filterTerm">
              </div>
            </div>
            <div class="d-flex flex-row mt-3 adventures-container" *ngFor="let appeal of unansweredAppeals | filter:filterTerm">
              <div class="card card-design">
                <div class="card-body">
                  <div class="d-flex flex-row">
                    <div class="d-flex flex-column me-3">
                      <img class="profile-picture" src="https://mackenzienz.com/wp-content/uploads/2015/09/Fishing-PAge-BAnner.jpg?fbclid=IwAR1c5dayMLBGnI0cFCy6Z8zFfBjmkX17Z9krEkjT5v2vDbf5xKxvVNgFSmk"/>
                    </div>
                    <div class="d-flex flex-column">
                      <h4 class="card-title" (click)="addAdventure()">ok</h4>
                      <p class="card-text">ok, ok, ok </p>
                      <p class="card-text">Broj osoba: 3</p>
                      <p class="card-text">Cena: 423 din/h</p>
                    </div>
                  </div>
                </div>
                <div class="d-flex right me-3 mb-3 align-items-center justify-content-end">
                  <button type="button" class="btn add-action-button"
                    (click)="answerOnAppeal(1,2,3)">ODGOVORI</button>
                </div>
              </div> 
            </div>
            <div class="d-flex flex-row mt-3 adventures-container" *ngFor="let appeal of answeredAppeals | filter:filterTerm">
              <div class="card card-design">
                <div class="card-body">
                  <div class="d-flex flex-row">
                    <div class="d-flex flex-column me-3">
                      <img class="profile-picture" src="https://mackenzienz.com/wp-content/uploads/2015/09/Fishing-PAge-BAnner.jpg?fbclid=IwAR1c5dayMLBGnI0cFCy6Z8zFfBjmkX17Z9krEkjT5v2vDbf5xKxvVNgFSmk"/>
                    </div>
                    <div class="d-flex flex-column">
                      <h4 class="card-title" (click)="addAdventure()">ok</h4>
                      <p class="card-text">ok, ok, ok </p>
                      <p class="card-text">Broj osoba: 3</p>
                      <p class="card-text">Cena: 423 din/h</p>
                    </div>
                  </div>
                </div>
                <div class="d-flex right me-3 mb-3 align-items-center justify-content-end">
                  <button type="button" class="btn add-action-button"
                    (click)="answerOnAppeal(1,2,3)">ODGOVORI</button>
                </div>
              </div> 
            </div>
          </div>
          <div class="d-flex ms-5 flex-column adventures" *ngIf="content == 'feedbacks'">
            <div class="d-flex flex-row mt-2">
              <span class="adventure-section me-2">Komentari</span>
              <div class="d-flex search justify-content-end">
                <input type="text" placeholder="Pretraži..." name="search" [(ngModel)]="filterTerm">
              </div>
            </div>
            <div class="d-flex flex-row mt-3" *ngFor="let feedback of notApprovedFeedbacks | filter:filterTerm">
              <div class="card comment-card">
                <div class="card-body">
                  <div class="d-flex flex-row">
                    <div class="d-flex flex-column me-3">
                      <h4 class="card-title">{{feedback.type}} {{feedback.name}} </h4>
                      <p class="card-text">Ocena: {{feedback.grade}}</p>
                      <p class="card-text">Komentar: {{feedback.review}}</p>
                    </div>
                  </div>
                </div>
                <div class="d-flex flex-row-reverse">
                  <div class="d-flex me-3 mb-3 justify-content-end ">
                    <button type="button" class="btn add-action-button"
                    (click)="approveFeedback(feedback.id)">Odobri</button>
                  </div>
                  <div class="d-flex me-3 mb-3 justify-content-end" >
                    <button type="button" class="btn add-action-button"
                    (click)="deleteFeedback(feedback.id)">Izbriši</button>
                  </div>
                </div>
              </div> 
            </div>
            <div class="d-flex flex-row mt-3" *ngFor="let feedback of approvedFeedbacks | filter:filterTerm">
              <div class="card comment-card">
                <div class="card-body">
                  <div class="d-flex flex-row">
                    <div class="d-flex flex-column me-3">
                      <h4 class="card-title">{{feedback.type}} {{feedback.name}} </h4>
                      <p class="card-text">Ocena: {{feedback.grade}}</p>
                      <p class="card-text">Komentar: {{feedback.review}}</p>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
          <div class="d-flex ms-5 flex-column adventures" *ngIf="content == 'reports'">
            <div class="d-flex flex-row mt-2">
              <span class="adventure-section me-2">Izveštaji</span>
              <div class="d-flex search justify-content-end">
                <input type="text" placeholder="Pretraži..." name="search" [(ngModel)]="filterTerm">
              </div>
            </div>
            <div class="d-flex flex-row mt-3 adventures-container" *ngFor="let report of notReviewedReports | filter:filterTerm">
              <div class="card card-design">
                <div class="card-body">
                  <div class="d-flex flex-row">
                    <div class="d-flex flex-column me-3">
                      <img class="profile-picture" src="https://mackenzienz.com/wp-content/uploads/2015/09/Fishing-PAge-BAnner.jpg?fbclid=IwAR1c5dayMLBGnI0cFCy6Z8zFfBjmkX17Z9krEkjT5v2vDbf5xKxvVNgFSmk"/>
                    </div>
                    <div class="d-flex flex-column">
                      <h4 class="card-title" (click)="addAdventure()">ok</h4>
                      <p class="card-text">ok, ok, ok </p>
                      <p class="card-text">Broj osoba: 3</p>
                      <p class="card-text">Cena: 423 din/h</p>
                    </div>
                  </div>
                </div>
                <div class="d-flex right me-3 mb-3 align-items-center justify-content-end">
                  <button type="button" class="btn add-action-button"
                    (click)="answerOnReport(report.ownerId, report.guestId, report.id)">ODGOVORI</button>
                </div>
              </div> 
            </div>
            <div class="d-flex flex-row mt-3 adventures-container" *ngFor="let report of reviewedReports | filter:filterTerm">
              <div class="card card-design">
                <div class="card-body">
                  <div class="d-flex flex-row">
                    <div class="d-flex flex-column me-3">
                      <img class="profile-picture" src="https://mackenzienz.com/wp-content/uploads/2015/09/Fishing-PAge-BAnner.jpg?fbclid=IwAR1c5dayMLBGnI0cFCy6Z8zFfBjmkX17Z9krEkjT5v2vDbf5xKxvVNgFSmk"/>
                    </div>
                    <div class="d-flex flex-column">
                      <h4 class="card-title" (click)="addAdventure()">ok</h4>
                      <p class="card-text">ok, ok, ok </p>
                      <p class="card-text">Broj osoba: 3</p>
                      <p class="card-text">Cena: 423 din/h</p>
                    </div>
                  </div>
                </div>
                <div class="d-flex right me-3 mb-3 align-items-center justify-content-end">
                  <button type="button" class="btn add-action-button"
                    (click)="answerOnReport(report.ownerId, report.guestId, report.id)">ODGOVORI</button>
                </div>
              </div> 
            </div>
          </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
