
<div>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: lightskyblue !important">
      <a class="navbar-brand" href="#"><img src="assets/logo3.png" style="max-height: 40px; min-width: 60px">  </a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" (click)="goToHomepage()">Početna</a>
          </li>
          <li class="nav-item active" *ngIf="isUserLoggedIn">
            <a class="nav-link" (click)="goToAll()">Sve ponude</a>
          </li>
          <li class="nav-item active" *ngIf="!isUserLoggedIn">
            <a class="nav-link" href="/login">Uloguj se</a>
          </li>
          <li class="nav-item active" *ngIf="!isUserLoggedIn">
            <a class="nav-link" href="/register">Kreiraj nalog</a>
          </li>
          <li class="nav-item active" *ngIf="isUserLoggedIn">
            <a class="nav-link" (click)="logout()">Odjavi se</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>







