@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#boat-profile {
  object-fit: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
}

.boat-promo-desc{
  margin: 0;
  border-radius: 15px;
  border-width: 0px;
  width: 80vw;
  padding-top: 20px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.boat-container{
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  color: #181e27;
}

.boat-name{
  font-weight: bold;
}

.boat-address{
  font-weight: lighter;
}

.boat-view-title-container{
  font-family: "Poppins", sans-serif;
  position: relative;
  width: 100%;
  margin-top: 34px;
  margin-bottom: 34px;
  padding-left: 5vw;
  padding-right: 5vw;
}

.filter-sort-container{
  mmargin: 0;
  padding-left: 2vw;
  padding-bottom: 1vw;
  padding-right: 1vw;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.10);
  border-radius: 15px;
  border-width: 0px;
  width: 30vw;
  padding-top: 20px;
  margin-bottom: 30px;
}

.filter-sort-container1{
  margin: 0;
  padding-left: 2vw;
  padding-bottom: 1vw;
  padding-right: 2vw;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.10);
  border-radius: 15px;
  border-width: 0px;
  width: 20vw;
  padding-top: 20px;
  margin-bottom: 30px;
}

.basic-title{
  display:inline-block;
  font-size: 20px;
  font-weight: Bold;
  margin-bottom: 18px;
}

.form-check-label{
  font-size: 17px;
  font-weight: 300;
  color: #000000;
}

.modify-profile-button {
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #31B4E5;
  position: absolute;
  top: 1vw;
  left: 93%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 20px;
  padding: 5px 10px;
}

.charts-button {
  font-family: "Poppins", sans-serif;
  color:white;
  background-color: #31B4E5;
  font-size: 20px;
  /*align-items: center;*/
  /*position: center;*/
  margin: 0;
  position: absolute;
  left: 65%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 5px 10px;
}

.add-picture-button{
  font-family: "Poppins", sans-serif;
  color:white;
  background-color: #31B4E5;
  position: relative;
  top: 1vw;
  left: 89%;
  font-size: 20px;
  padding: 5px 10px;
}

.add-action-button{
  font-family: "Poppins", sans-serif;
  color:white;
  background-color: #31B4E5;
  font-size: 20px;
  /*align-items: center;*/
  /*position: center;*/
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 5px 10px;
}

.show-calendar {
  font-family: "Poppins", sans-serif;
  color:white;
  background-color: #31B4E5;
  font-size: 20px;
  /*align-items: center;*/
  /*position: center;*/
  margin: 0;
  position: absolute;
  left: 32%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 5px 10px;
}

.define-period {
  font-family: "Poppins", sans-serif;
  color:white;
  background-color: #31B4E5;
  font-size: 20px;
  /*align-items: center;*/
  /*position: center;*/
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 5px 10px;
}

.myMatCarousel2{
  background-color: white;
  height: 420px;
  width: 100%;
}

.myMatCarouselSlide2{
  height: 450px;
  flex-flow: row wrap;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
}

.myCardSlide{
  font-family: "Poppins", sans-serif;
  margin-right: 3px;
  margin-left: 3px;
  flex-flow: column wrap;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
  flex: 1 1 30%;
  max-width: 28%;
  height: 350px;
}

agm-map {
  height: 400px;
}

.map-container-6{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.map-container-6 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.moveRight {
  margin-left: 1vw;
}

.script-menu >::ng-deep .mat-grid-tile-content{
  display: block;
  overflow-y: scroll;
}

.script-menu1 >::ng-deep .mat-grid-tile-content{
  display: block;
  /*padding: 5px;*/
}

.house-container2 {
  font-size: 16px;
  font-weight: lighter;
  color: #181e27;
  font-family: "Poppins", sans-serif;
  margin: auto;
  margin-left: 19vw;
}

.report {
  font-family: "Poppins", sans-serif;
  color:white;
  background-color: #31B4E5;
  font-size: 20px;
  align-items: center;
  /*position: center;*/
  /*position: absolute;*/
  /*left: 50%;*/
  /*-ms-transform: translate(-50%, -50%);*/
  /*transform: translate(-50%, -50%);*/
  /*padding: 5px 10px;*/
}
