<h1 mat-dialog-title>Rezervacija</h1>
<div mat-dialog-content>
  <form  style="margin: auto !important" #addActionForm = "ngForm" (ngSubmit)="makeReservation()">
    <div class = "user-details" >
      <div class = "input-box">
        <span class="details">Datum i vreme pocetka:</span>
        <input type="datetime-local" name="startDate" [(ngModel)]="dateString" [min]="startDate" placeholder="Unesite datum i vreme pocetka" required>
      </div>
      <br>
      <div class = "input-box">
        <span class="details">Trajanje:</span>
        <div class="d-flex flex-row">
          <div class="me-2">
            <small>Sati</small>
            <input type="number" name="durationHours" [min] = "min" [(ngModel)]="this.durationHours"  required>
          </div>
          <div>
            <small>Minuti</small>
            <input type="number" name="durationMinutes" [min] = "min" [(ngModel)]="this.durationMinutes"  required>
          </div>
        </div>
      </div>
      <br>
      <div class = "input-box">
        <span class="details">Maksimalan broj gostiju:</span>
        <input type="number" name="maxGuests" [min] = "min" [(ngModel)]="maxGuest" placeholder="Unesite maksimalan broj gostiju" required>
      </div>
      <br>
      <div class = "input-box">
        <span class="details">Dodatne usluge:</span>
        <div *ngFor="let service of additionalServices">
          <mat-checkbox name="checkbox" [(ngModel)]="service.checked"> {{ service.name}}: {{service.price}} din </mat-checkbox>
        </div>
      </div>
      <br>
    </div>
    <br> <br>
    <div class = "button">
      <input mat-button [disabled]="isDisabled" type="submit" value="Dodaj">
    </div>
  </form>
  <ngx-alerts></ngx-alerts>
</div>
