<body>
<div class = "container" >
  <div class = "title"> Kreiranje profila broda</div>
  <form  style="margin: auto">
    <div class = "user-details" >
      <div class = "input-box">
        <span class="details">Naziv broda:</span>
        <input type="text" name="startDate" [(ngModel)]="boat.name" placeholder="Unesite naziv broda" required>
      </div>
      <div class = "input-box">
        <span class="details">Promo opis:</span>
        <input type="text" name="endDate" [(ngModel)]="boat.promoDescription" placeholder="Unesite promo opis" required>
      </div>
      <br><br>
      <div class = "input-box">
        <span class="details">ADRESA</span>
      </div>
      <div class = "input-box">
        <span class="details">Ulica:</span>
        <input type="text" name="street" [(ngModel)]="boat.address.street" placeholder="Unesite ulicu" required>
      </div>
      <div class = "input-box">
        <span class="details">Grad:</span>
        <input type="text" name="city" [(ngModel)]="boat.address.city" placeholder="Unesite grad" required>
      </div>
      <div class = "input-box">
        <span class="details">Drzava:</span>
        <input type="text" name="state" [(ngModel)]="boat.address.state" placeholder="Unesite drzavu" required>
      </div>
      <div class = "input-box">
        <span class="details">Geografska duzina:</span>
        <input type="text" name="longitude" [(ngModel)]="boat.address.longitude" placeholder="Unesite geografsku duzinu" required>
      </div>
      <div class = "input-box">
        <span class="details">Geografska sirina:</span>
        <input type="text" name="latitude" [(ngModel)]="boat.address.latitude" placeholder="Unesite geografsku sirinu" required>
      </div>
      <div class = "input-box">
        <span class="details">Postanski broj:</span>
        <input type="number" name="postalCode" [(ngModel)]="boat.address.postalCode" placeholder="Unesite postanski broj" required>
      </div>
      <br><br>
      <div class = "input-box">
        <span class="details">Cena za 1 nocenje:</span>
        <input type="number" name="pricePerDay" [(ngModel)]="boat.pricePerDay" placeholder="Unesite cenu" required>
      </div>
      <div class = "input-box">
        <span class="details">Besplatno otkazivanje:</span>
        <mat-checkbox name="checkbox" [(ngModel)]="boat.cancalletionFree" (change)="checkboxChanged($event)"> </mat-checkbox>
      </div>
      <div class = "input-box">
        <span class="details">Uslovi otkazivanje:</span>
        <input type="number" name="cancalletionFee" [(ngModel)]="boat.cancalletionFee" placeholder="Unesite novcanu nadoknadu" required>
      </div>
      <br><br>
      <div class = "input-box">
        <span class="details">Pravila ponasanja:</span>
        <input type="text" name="behaviourRules" [(ngModel)]="boat.behaviourRules" placeholder="Unesite pravila ponasanja" required>
      </div>
      <div class = "input-box">
        <span class="details">Kapacitet broda:</span>
        <input type="number" name="capacity" [(ngModel)]="boat.capacity" placeholder="Unesite kapacitet" required>
      </div>
      <div class = "input-box">
        <span class="details">Tip broda:</span>
        <input type="test" name="type" [(ngModel)]="boat.type" placeholder="Unesite tip broda" required>
      </div>
      <div class = "input-box">
        <span class="details">Duzina broda:</span>
        <input type="number" name="length" [(ngModel)]="boat.length" placeholder="Unesite duzinu broda" required>
      </div>
      <div class = "input-box">
        <span class="details">Broj motora:</span>
        <input type="number" name="engNumber" [(ngModel)]="boat.engineNumber" placeholder="Unesite broj motora" required>
      </div>
      <div class = "input-box">
        <span class="details">Snaga motora:</span>
        <input type="number" name="engPower" [(ngModel)]="boat.enginePower" placeholder="Unesite snagu motora" required>
      </div>
      <div class = "input-box">
        <span class="details">Maksimalna brzina:</span>
        <input type="number" name="maxSpeed" [(ngModel)]="boat.maxSpeed" placeholder="Unesite makismalnu brzinu" required>
      </div>
      <div class = "input-box">
        <span class="details">Oprema za pecanje:</span>
        <input type="text" name="maxSpeed" [(ngModel)]="boat.fishingEquipment" placeholder="Unesite opremu za pecanje" required>
      </div>
      <div class = "input-box">
        <span class="details">Navigaciona oprema:</span>
        <mat-checkbox name="checkbox1" [(ngModel)]="boat.navigationEquipmentDTO.fishFinder"> fish-finder </mat-checkbox>
        <br>
        <mat-checkbox name="checkbox2" [(ngModel)]="boat.navigationEquipmentDTO.radar"> radar </mat-checkbox>
        <br>
        <mat-checkbox name="checkbox3" [(ngModel)]="boat.navigationEquipmentDTO.vhfradio"> VHR radio </mat-checkbox>
        <br>
        <mat-checkbox name="checkbox4" [(ngModel)]="boat.navigationEquipmentDTO.gps"> gps </mat-checkbox>
      </div>


      <!--      <br><br>-->
      <!--      <div class = "input-box">-->
      <!--        <span class="details">BROJ KREVETA U SOBAMA</span>-->
      <!--        <div *ngFor="let item of rooms;let index = index;">-->
      <!--          <span class="details">Soba {{item.id}}:</span>-->
      <!--          <input type="number" style="width: 85%" name=a{{index}} [(ngModel)]="rooms[index].numberOfBeds" placeholder="Unesite broj kreveta">-->
      <!--          <button mat-icon-button (click)="deleteRoom(rooms[index].id)"> <mat-icon>delete</mat-icon> </button>-->
      <!--        </div>-->
      <!--      </div>-->
      <!--      <div class = "input-box">-->
      <!--        <button mat-icon-button (click)="showAddingNewRoom()"> <mat-icon>add</mat-icon> </button>-->
      <!--      </div>-->
      <!--      <br>-->

      <!--      <div *ngIf="showNewRoom">-->
      <!--        <div class = "input-box">-->
      <!--          <span class="details">Broj kreveta u sobi:</span>-->
      <!--          <input type="number" name="newAddRoomNumOfBeds" [(ngModel)]="newRoom.numberOfBeds" placeholder="Unesite broj kreveta" required>-->
      <!--        </div>-->
      <!--        <br>-->
      <!--        <div class = "button">-->
      <!--          <input type ="button" value="DODAJ NOVU SOBU" (click)="addNewRoom()">-->
      <!--        </div>-->
      <!--        <br>-->
      <!--      </div>-->
      <!--      <br><br>-->

      <!--      <table class = "input-box">-->
      <!--        <tr>-->
      <!--          <th>Dodatna usluga</th>-->
      <!--          <th>Cena</th>-->
      <!--        </tr>-->
      <!--        <tr *ngFor="let serv of additionalServices;let index = index;">-->
      <!--          <td>-->
      <!--            <input type="text" name=b{{index}} [(ngModel)]="additionalServices[index].name" placeholder="Unesite naziv usluge">-->
      <!--          </td>-->
      <!--          <td>-->
      <!--            <input type="number" name=c{{index}} [(ngModel)]="additionalServices[index].price" placeholder="Unesite cenu usluge">-->
      <!--          </td>-->
      <!--          <td>-->
      <!--            <button mat-icon-button (click)="deleteAdditionalService(additionalServices[index].id)"> <mat-icon>delete</mat-icon> </button>-->
      <!--          </td>-->
      <!--        </tr>-->
      <!--      </table>-->

      <!--      <div class = "input-box">-->
      <!--        <button mat-icon-button (click)="showAddingNewService()"> <mat-icon>add</mat-icon> </button>-->
      <!--      </div>-->

      <!--      <br>-->
      <!--      <div *ngIf="showNewService">-->
      <!--        <div class = "input-box">-->
      <!--          <span class="details">Naziv usluge:</span>-->
      <!--          <input type="text" name="newAddSerName" [(ngModel)]="newAdditionalService.name" placeholder="Unesite naziv" required>-->
      <!--        </div>-->
      <!--        <div class = "input-box">-->
      <!--          <span class="details">Cena usluge:</span>-->
      <!--          <input type="number" name="newAddSerPrice" [(ngModel)]="newAdditionalService.price" placeholder="Unesite cenu" required>-->
      <!--        </div>-->
      <!--        <br>-->
      <!--        <div class = "button">-->
      <!--          <input type ="button" value="DODAJ NOVU USLUGU" (click)="addAdditionalService()">-->
      <!--        </div>-->
      <!--        <br>-->
      <!--      </div>-->

      <br>
    </div>
    <br> <br>
    <div class = "button">
      <input type ="button" value="Dodaj brod" (click)="createProfile()">
    </div>
  </form>
</div>
<ngx-alerts></ngx-alerts>
</body>
