
<div>
    <div fxLayout="column wrap" >
<!--      <div class="container5">-->
        <img class = "img5" src="assets/home-image1.jpg" alt="Snow">
        <button class="btn" >Nađi avanturu</button>
        <label class="lbl" style="font-size: 30px">Želis na pecanje?</label>
        <div style="display:inline; margin-top: 30px; margin-left: 30px"  >
          <div style="float: left; width: 80%;">
            <label style="font-size: 25px; font-weight: 500; margin-left: 10px" ><strong>Najpopularnije vikendice</strong></label>
          </div>
          <div style="float: left; width: 20%;">
            <button (click) = "goToAllHouses()" style="font-size: 15px;border: None;background: transparent; font-weight: 500;" >Prikazi sve</button>

          </div>
        </div>
<!--      </div>-->

<!--      vikendice-->
      <div class="myMatCarousel2" >
        <mat-carousel timings="250ms ease-in" [autoplay]="false" [maintainAspectRatio]="false" [slides]="2" color="accent"
                      [loop]="true" [hideArrows]="false" [hideIndicators]="true" [useKeyboard]="true" [useMouseWheel]="false"
                      orientation="ltr" *ngIf="isLoaded">
          <mat-carousel-slide #matCarouselSlide overlayColor="white" *ngFor="let slide of houseSlides; let i = index">
            <div class="myMatCarouselSlide2" fxLayout="row wrap" fxLayoutAlign="center center">
              <ng-container *ngFor="let house of slide.houses ; let j = index">
                <mat-card style="margin-right: 5px; margin-left: 5px" class="myCard" fxFlex="20%" fxFlex.xs="40%" fxLayoutAlign="center center" fxLayout="column wrap">
                  <img  style="width: 100%; height: 100%" src="{{house.images[0].imageUrl}}">
                  <a>{{house.name}}</a>
                </mat-card>
              </ng-container>
            </div>
          </mat-carousel-slide>
        </mat-carousel>
      </div>

<!--      brodovi-->
      <div style="display:inline; margin-top: 30px; margin-left: 30px"  >
        <div style="float: left; width: 80%;">
          <label style="font-size: 25px; font-weight: 500; margin-left: 10px" ><strong>Najpopularniji brodovi</strong></label>
        </div>
        <div style="float: left; width: 20%;">
          <button (click) = "goToAllBoats()" style="font-size: 15px;border: None;background: transparent; font-weight: 500;" >Prikazi sve</button>

        </div>
      </div>
      <div class="myMatCarousel2">
        <mat-carousel timings="250ms ease-in" [autoplay]="false" [maintainAspectRatio]="false" [slides]="2" color="accent"
                      [loop]="true" [hideArrows]="false" [hideIndicators]="true" [useKeyboard]="true" [useMouseWheel]="false"
                      orientation="ltr" *ngIf="isLoaded">
          <mat-carousel-slide #matCarouselSlide overlayColor="white" *ngFor="let slide of boatSlides; let i = index">
            <div class="myMatCarouselSlide2" fxLayout="row wrap" fxLayoutAlign="center center">
              <ng-container *ngFor="let boat of slide.boats ; let j = index">
                <mat-card style="margin-right: 5px; margin-left: 5px" class="myCard" fxFlex="20%" fxFlex.xs="40%" fxLayoutAlign="center center" fxLayout="column wrap">
                  <img mat-card-image style="width: 100%; height: 100%" src="{{boat.images[0].imageUrl}}">
                  <a>{{boat.name}}</a>
                </mat-card>
              </ng-container>
            </div>
          </mat-carousel-slide>
        </mat-carousel>
      </div>
<!--      avanture-->
      <div style="display:inline; margin-top: 30px; margin-left: 30px"  >
        <div style="float: left; width: 80%;">
          <label style="font-size: 25px; font-weight: 500; margin-left: 10px" ><strong>Najpopularnije avanture</strong></label>
        </div>
        <div style="float: left; width: 20%;">
          <button (click) = "goToAllAdventures()" style="font-size: 15px;border: None;background: transparent; font-weight: 500;" >Prikazi sve</button>

        </div>
      </div>
      <div class="myMatCarousel2">
        <mat-carousel timings="250ms ease-in" [autoplay]="false" [maintainAspectRatio]="false" [slides]="2" color="accent"
                      [loop]="true" [hideArrows]="false" [hideIndicators]="true" [useKeyboard]="true" [useMouseWheel]="false"
                      orientation="ltr" *ngIf="isLoaded">
          <mat-carousel-slide #matCarouselSlide overlayColor="white" *ngFor="let slide of adventureSlides; let i = index">
            <div class="myMatCarouselSlide2" fxLayout="row wrap" fxLayoutAlign="center center">
              <ng-container *ngFor="let adventure of slide.adventures ; let j = index">
                <mat-card style="margin-right: 5px; margin-left: 5px" class="myCard" fxFlex="20%" fxFlex.xs="40%" fxLayoutAlign="center center" fxLayout="column wrap">
                  <img mat-card-image style="width: 100%; height: 100%" src="{{adventure.images[0].imageUrl}}">
                  <a>{{adventure.name}}</a>
                </mat-card>
              </ng-container>
            </div>
          </mat-carousel-slide>
        </mat-carousel>
      </div>
<!--      <footer>footer</footer>-->
    </div>

</div>







