<body>
<div class = "container" >
  <div class = "title"> Izmena profila broda</div>
  <form  style="margin: auto">
    <div class = "user-details" >
      <div class = "input-box">
        <span class="details">Naziv broda:</span>
        <input type="text" name="name" [(ngModel)]="boat.name" placeholder="Unesite naziv vikendice" required>
      </div>
      <div class = "input-box">
        <span class="details">Promo opis:</span>
        <input type="text" name="promo" [(ngModel)]="boat.promoDescription"  required>
      </div>
      <br><br>
      <div class = "input-box">
        <span class="details">ADRESA</span>
      </div>
      <div class = "input-box">
        <span class="details">Ulica:</span>
        <input type="text" name="street" [(ngModel)]="boat.address.street" placeholder="Unesite maksimalan broj gostiju" required>
      </div>
      <div class = "input-box">
        <span class="details">Grad:</span>
        <input type="text" name="city" [(ngModel)]="boat.address.city" placeholder="Unesite maksimalan broj gostiju" required>
      </div>
      <div class = "input-box">
        <span class="details">Drzava:</span>
        <input type="text" name="state" [(ngModel)]="boat.address.state" placeholder="Unesite maksimalan broj gostiju" required>
      </div>
      <div class = "input-box">
        <span class="details">Geografska duzina:</span>
        <input type="number" name="longitude" [(ngModel)]="boat.address.longitude" placeholder="Unesite maksimalan broj gostiju" required>
      </div>
      <div class = "input-box">
        <span class="details">Geografska sirina:</span>
        <input type="number" name="latitude" [(ngModel)]="boat.address.latitude" placeholder="Unesite maksimalan broj gostiju" required>
      </div>
      <div class = "input-box">
        <span class="details">Postanski broj:</span>
        <input type="number" name="postalCode" [(ngModel)]="boat.address.postalCode" placeholder="Unesite maksimalan broj gostiju" required>
      </div>
      <br><br>
      <div class = "input-box">
        <span class="details">Pravila ponasanja:</span>
        <input type="text" name="behaviourRules" [(ngModel)]="boat.behaviourRules" placeholder="Unesite cenu" required>
      </div>
      <div class = "input-box">
        <span class="details">Kapacitet:</span>
        <input type="number" name="capacity" [(ngModel)]="boat.capacity" placeholder="Unesite cenu" required>
      </div>
      <div class = "input-box">
        <span class="details">Cena za 1 nocenje:</span>
        <input type="number" name="pricePerDay" [(ngModel)]="boat.pricePerDay" placeholder="Unesite cenu" required>
      </div>
      <div class = "input-box">
        <span class="details">Besplatno otkazivanje:</span>
        <mat-checkbox name="checkbox" [(ngModel)]="boat.cancalletionFree" (change)="checkboxChanged($event)"> </mat-checkbox>
      </div>
      <div class = "input-box">
        <span class="details">Uslovi otkazivanja (u %):</span>
        <input type="number" name="cancalletionFee" [(ngModel)]="boat.cancalletionFee" placeholder="Unesite cenu" required>
      </div>

      <br><br>
      <div class = "input-box">
        <span class="details">O BRODU</span>
      </div>
      <div class = "input-box">
        <span class="details">Tip broda:</span>
        <input type="text" name="boatType" [(ngModel)]="boat.type" placeholder="Unesite tip broda" required>
      </div>
      <div class = "input-box">
        <span class="details">Duzina broda:</span>
        <input type="number" name="boatLength" [(ngModel)]="boat.length" placeholder="Unesite duzinu broda" required>
      </div>
      <div class = "input-box">
        <span class="details">Broj motora:</span>
        <input type="number" name="engineNumber" [(ngModel)]="boat.engineNumber" placeholder="Unesite broj motora" required>
      </div>
      <div class = "input-box">
        <span class="details">Snaga motora:</span>
        <input type="number" name="enginePower" [(ngModel)]="boat.enginePower" placeholder="Unesite snagu motora " required>
      </div>
      <div class = "input-box">
        <span class="details">Makismalna brzina broda:</span>
        <input type="number" name="maxSpeed" [(ngModel)]="boat.maxSpeed" placeholder="Unesite makismalnu brzinu broda " required>
      </div>
      <div class = "input-box">
        <span class="details">Pecaroska oprema:</span>
        <input type="text" name="fishingEquipment" [(ngModel)]="boat.fishingEquipment" placeholder="Unesite pecarosku opremu " required>
      </div>
      <div class = "input-box">
        <span class="details">Navigaciona oprema:</span>
        <mat-checkbox name="checkbox1" [(ngModel)]="boat.navigationEquipmentDTO.fishFinder"> fish-finder </mat-checkbox>
        <br>
        <mat-checkbox name="checkbox2" [(ngModel)]="boat.navigationEquipmentDTO.radar"> radar </mat-checkbox>
        <br>
        <mat-checkbox name="checkbox3" [(ngModel)]="boat.navigationEquipmentDTO.vhfradio"> VHR radio </mat-checkbox>
        <br>
        <mat-checkbox name="checkbox4" [(ngModel)]="boat.navigationEquipmentDTO.gps"> gps </mat-checkbox>
      </div>

      <br><br>
      <table class = "input-box">
        <tr>
          <th style="width: 60%">Dodatna usluga i cena</th>
        </tr>
        <tr *ngFor="let serv of additionalServices;let index = index;">
          <td  *ngIf="additionalServices[index].name == 'prisustvo kapetana'; else elseBlockShow">
            <input type="text" name=b{{index}} [(ngModel)]="additionalServices[index].name" placeholder="Unesite naziv usluge" disabled>
          </td>
          <td>
            <ng-template #elseBlockShow>
              <input type="text" name=b{{index}} [(ngModel)]="additionalServices[index].name" placeholder="Unesite naziv usluge">
            </ng-template>
          </td>

          <td>
            <input type="number" name=c{{index}} [(ngModel)]="additionalServices[index].price" placeholder="Unesite cenu usluge">
          </td>

          <td *ngIf="additionalServices[index].name == 'prisustvo kapetana'; else elseBlockShow1">
            <button mat-icon-button (click)="deleteAdditionalService(additionalServices[index].id)" disabled> <mat-icon>delete</mat-icon> </button>
          </td>
          <td>
            <ng-template #elseBlockShow1>
              <button mat-icon-button [disabled]="canNotBeEdited" (click)="deleteAdditionalService(additionalServices[index].id)"> <mat-icon>delete</mat-icon> </button>
            </ng-template>
          </td>
        </tr>
      </table>

      <div class = "input-box">
        <button mat-icon-button (click)="showAddingNewService()"> <mat-icon>add</mat-icon> </button>
      </div>

      <br>
      <div *ngIf="showNewService">
        <div class = "input-box">
          <span class="details">Naziv usluge:</span>
          <input type="text" name="newAddSerName" [(ngModel)]="newAdditionalService.name" placeholder="Unesite naziv" required>
        </div>
        <div class = "input-box">
          <span class="details">Cena usluge:</span>
          <input type="number" name="newAddSerPrice" [(ngModel)]="newAdditionalService.price" placeholder="Unesite cenu" required>
        </div>
        <br>
        <div class = "button">
          <input type ="button" value="DODAJ NOVU USLUGU" (click)="addAdditionalService()">
        </div>
        <br>
      </div>

      <br>
    </div>
    <br>
    <div class = "button">
      <input type ="button" value="Izmeni" (click)="editProfile()">
    </div>
  </form>
</div>
<ngx-alerts></ngx-alerts>
</body>

